@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Go to Expense Categories</h1>*@
    <p>Go to <a class="nav-link text-dark" asp-area="" asp-controller="ExpenceCategories" asp-action="Index">Expense Categories</a>.</p>
</div>
